<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>УМТЭ | <%= title %></title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/main.css">
    <link rel="stylesheet" href="/stylesheets/preloader.css">
    <link rel="stylesheet" href="/stylesheets/singleevent.css">
</head>

    <body>
        <%- include('layouts/preloader') -%>
            <%- include('layouts/header') -%>
                <main>
                    <div id="gallery-modal" class="modalForImg">
                        <div class="modal_wrapper">
                            <div class="closeModal">
                                <span></span>
                            </div>
                            <img class="modal-content" id="img-show">
                            <div id="caption"></div>
                        </div>
                    </div>
                    <section class="single_event">
                        <div class="single_event__wrapper">
                            <div class="single_event__head">
                                <div class="singel_event__cover">
                                    <img src="/images/Афиша - Музыка - душа кино.jpeg"
                                        alt="Постер - Музыка - душа кино" class="single_event__imgInGallery">
                                </div>
                                <div class="singel_event__infowrapper">
                                    <div class="singel_event__maininfo">
                                        <h1 class="single_event__title"><%= event.event_title %></h1>
                                        <span class="single_event__genre"><%= event.event_subtitle %></span>
                                        <span class="single_event__duration">Длительность: <%= event.event_duration %></span>
                                        <div style="display: flex;">
                                            <span class="single_event__rating"><%= event.event_rating %>+</span>
                                            <% if (event.event_pushka) { %> 
                                                <img src="/images/Name_monochrome.png" alt="Участвует в проекте «Пушкинская карта»" style="height: 41px; margin: .5rem 0;" title="Участвует в проекте «Пушкинская карта»">
                                            <% } %>
                                        </div>
                                        <ul class="singel_event__credits">
                                            <% event.event_authors.forEach((author) => { %>
                                                <li><%= author %></li>
                                            <% }) %>
                                        </ul>
                                    </div>
                                    <button class="single_event__buyticket" onclick="location.href='/buyticket?event=<%= event.event_id %>'">Купить билет</button>
                                </div>
                            </div>
                            <div class="single_event__body">
                                <div class="single_event__text">
                                    <span class="single_event__subtitle">Описание</span>
                                    <% event.event_description.forEach((paragraph) => { %>
                                        <p class="single_event__description paragraph"><%= paragraph %></p>
                                    <% }) %>
                                </div>
                                <div class="single_event__fotogallery">
                                    <div style="width: 100%;">
                                        <span class="single_event__subtitle">Галерея</span>
                                    </div>
                                    <img src="/images/Афиша - Музыка - душа кино.jpeg" alt="Проделки Ханумы - 01" id="img1id"
                                        class="single_event__imgInGallery">
                                    <img src="/images/DSC_3533.jpg" alt="Проделки Ханумы - 02" id="img2id"
                                        class="single_event__imgInGallery">
                                    <img src="/images/DSC_3533.jpg" alt="Проделки Ханумы - 03" id="img3id"
                                        class="single_event__imgInGallery">
                                    <img src="/images/DSC_3533.jpg" alt="Проделки Ханумы - 04" id="img4id"
                                        class="single_event__imgInGallery">
                                    <img src="/images/DSC_3533.jpg" alt="Проделки Ханумы - 05" id="img5id"
                                        class="single_event__imgInGallery">
                                    <img src="/images/DSC_3533.jpg" alt="Проделки Ханумы - 06" id="img6id"
                                        class="single_event__imgInGallery">
                                    <img src="/images/DSC_3533.jpg" alt="Проделки Ханумы - 07" id="img7id"
                                        class="single_event__imgInGallery">
                                    <img src="/images/DSC_3533.jpg" alt="Проделки Ханумы - 08" id="img8id"
                                        class="single_event__imgInGallery">
                                    <img src="/images/DSC_3533.jpg" alt="Проделки Ханумы - 09" id="img9id"
                                        class="single_event__imgInGallery">
                                    <img src="/images/DSC_3533.jpg" alt="Проделки Ханумы - 10" id="img10id"
                                        class="single_event__imgInGallery">
                                </div>
                            </div>
                        </div>
                    </section>
                </main>
                <%- include('layouts/footer') -%>
    </body>
    <%- include('layouts/scripts') -%>
    <script>
        // Get the modal
        let modal = document.getElementById('gallery-modal');

        // Get the image and insert it inside the modal - use its "alt" text as a caption
        let gallery_imgs = document.querySelectorAll('.single_event__imgInGallery');
        let modalImg = document.getElementById("img-show");
        let captionText = document.getElementById("caption");
        gallery_imgs.forEach(img => {
            img.addEventListener("click", () => {
                modal.style.display = "flex";
                modalImg.src = img.src;
                captionText.innerHTML = img.alt;
                document.body.classList.toggle('_lock');
            })
        })

        let close_modal = document.querySelector(".closeModal");
        close_modal.addEventListener('click', () => {
            modal.style.display = "none";
            document.body.classList.toggle('_lock');
        })
    </script>

</html>