<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>УМТЭ | <%= title %></title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/main.css">
    <link rel="stylesheet" href="/stylesheets/preloader.css">
    <link rel="stylesheet" href="/stylesheets/slider.css">
    <link rel="stylesheet" href="/stylesheets/poster.css">
</head>

    <body>
        <%- include('layouts/preloader') -%>
            <%- include('layouts/header') -%>
                <main>
                    <section class="slider">
                        <div class="slider__wrapper">
                            <div class="slider__items">
                                <!--  -->
                                <% if (poster.length) { %>
                                    <% poster.forEach(({poster_id, poster_datetime, event_id, event_title, event_subtitle, event_rating, event_description_tiny}) => { %>
                                    <div class="slider__item">
                                        <div class="slider__item_inner">
                                            <span class="slider__event_title"><%= event_title %></span>
                                            <span class="slider__event_description"><%= event_description_tiny %></span>
                                            <span class="slider__event_info">
                                                <span class="slider__event_dateANDrating">

                                                    <span class="slider__event_date"><%= poster_datetime.toLocaleDateString('ru-RU', {month: "long", day: "numeric"}) %> <%= poster_datetime.toLocaleTimeString('ru-RU', {hour: "numeric", minute: "numeric"}) %></span>
                                                    <span class="slider__event_rating"><%= event_rating %>+</span>
                                                </span>
                                                <a class="slider__event_learnmore" href='/event/<%= event_id %>'>Подробнее</a>
                                            </span>
                                        </div>
                                        <img src="/images/DSC06032.jpg" alt="">
                                    </div>
                                    <% }) %>
                                <% } %>
                                <!--  -->
                            </div>
                        </div>
                        <button class="slider__btn slider__btn_prev" href="#" role="button" data-slide="prev"></button>
                        <button class="slider__btn slider__btn_next" href="#" role="button" data-slide="next"></button>
                    </section>
                    <section class="poster">
                        <div class="poster__wrapper">
                            <div class="poster__title">АФИША</div>
                            <div class="poster__body">
                                <div class="events__wrapper">
                                    <!--  -->
                                    <% if (poster.length) { %>
                                        <% poster.forEach(({poster_id, poster_datetime, event_id, event_title, event_subtitle, event_rating, event_description_tiny}) => { %>
                                            <div class="event">
                                                <div class="event_date">
                                                    <span class="event_day"><%= poster_datetime.toLocaleDateString('ru-RU', {month: "long", day: "numeric"}) %></span>
                                                    <span class="event_time"><%= poster_datetime.toLocaleTimeString('ru-RU', {hour: "numeric", minute: "numeric"}) %></span>
                                                </div>
                                                <div class="event_info">
                                                    <div class="event_cover">
                                                        <img src="/images/Афиша - Музыка - душа кино.jpeg" alt="">
                                                    </div>
                                                    <div class="event_about">   
                                                        <h3 class="event_title"><%= event_title %></h3>
                                                        <span class="event_authors"><%= event_subtitle %></span>
                                                        <span class="event_rating"><%= event_rating %>+</span>
                                                        <p class="event_description"><%= event_description_tiny %></p>
                                                        <div class="event_btns">
                                                            <button class="event_learnmore" onclick="location.href='/event/<%= event_id %>'">Подробнее</button>
                                                            <button class="event_learnmore" onclick="location.href='/buyticket/<%= event_id %>'">Купить билет</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        <% }) %>
                                    <% } %>
                                    <!--  -->
                                </div>
                            </div>
                        </div>
                    </section>
                </main>
                <%- include('layouts/footer') -%>
    </body>

    <%- include('layouts/scripts') -%>
    <script src="/javascripts/slider-script.js"></script>
    <script src="/javascripts/slider-options.js"></script>

</html>